@import "../../styles/index.scss";

.hero-creation-steps {
  @include page-layout();
}

.hcs-content {
  @include page-content();
  text-align: left;

  h1 {
    text-align: center;
  }

  .defense {
    list-style-type: none;
    text-align: left;
    margin-bottom: 1em;

    b[data-type="EVN"] {
      color: $evasiongold;
    }
    b[data-type="MGT"] {
      color: $physicalred;
    }
    b[data-type="RES"] {
      color: $mysticalblue;
    } 
  }

  .higher-level {
    list-style-type: none;
  } 
}