@import "../../styles/index.scss";

.monster {
  max-width: 600px;

  h3, h4 {
    margin-bottom: 0 !important;
  }
  h3 {
    margin-top: 0;
    background: $white;
    color: $black;
    padding: 5px 10px;
    font-size: 18px;
  }

  .monster-content {
    border: 2px solid $white;
    padding: 8px;
  }

  h4 {
    margin-top: 5px;
    border-top: 1px solid $gold;
  }
  p, span {
    font-size: 14px;
    margin-bottom: 0;
  }
  .section, .abilities {
    ul {
      margin: 0;
    }
    li {
      list-style-type: none;
    }

    .degrees-of-success {
      li {
        list-style-type: disc;
        margin-bottom: 0;
      }
    }
    p, h4 {
      @include mq(s) {
        padding-left: 0;
        padding-right: 0;
      }
      @include mq(m) {
        padding-left: 0;
        padding-right: 0;
      }
      @include mq(xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .icon {
      padding-bottom: 0;
      background-color: $white;
      border-radius: 50%;
    }
  }
}