@import "../../styles/index.scss";

.skills {
  @include page-layout();
}

.skills-content {
  @include page-content();

  .collapsed-section {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    border: 1px solid $gold;
    text-align: center;
    background: $lightblack;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;

    &[data-is-expanded="true"] {
      background-color: $dimgrey;
      margin-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    &__dropdown-arrow {
      @include right-arrow-button;
      border: solid $gold;
      opacity: 1;
      border-width: 0 2px 2px 0;
      padding: 0;
      @include transformTransition;
      height: 12px;
      width: 12px; 

      &:focus {
        opacity: 1;
      }

      &[data-active="true"] {
        transform: rotate(225deg);
        margin-bottom: 2px;
      }
    }
  }


  .expanded-section {
    padding: 10px;
    border: 1px solid $gold;
    border-top: none;
    background: $lightblack;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .collapsed-section, .expanded-section {
    @include mq(s) { 
      p, h2, h3, h4, li {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}