@import "../../styles/index.scss";

.spells {
  @include page-layout();
}

.spells-content {
  @include class-page-content();

 .tab-items {
    border-bottom: 2px solid $gold;
    width: 90%;
    justify-content: center;
  }
}

