// Color Variables
$lavared: #ed361e;
$white: white;
$redwood: #59190f;
$offwhite: #f0efeb;
$parchment: #ece3c7;
$black: #000000;
$gold: #FFD700;
$dimgrey: #696969;
$lightblack: #404040;
$actionred: #b50000;
$maneuvergreen: #296d09;
$reactionorange:#B45F05;
$freepurple: #674EA7;
$physicalred: #ff5151;
$mysticalblue: #9e9eff;
$ritualblue: #104bb2;
$resolvepurple: #6760ff;
$evasiongold: #BF9001;
$textwhite: rgba(255, 255, 255, 0.87);
$softred: #964437;
$bkgdgold: #ad8d24;
$bkgdgolddark: #896d18;


