// Color Variables
$lavared: #ed361e;
$white: white;
$redwood: #59190f;
$offwhite: #f0efeb;
$parchment: #ece3c7;
$black: #000000;
$gold: #FFD700;
$dimgrey: #696969;
$lightblack: #404040;
$actionred: #CC0100;
$maneuvergreen: #38761D;
$reactionorange:#B45F05;
$freepurple: #674EA7;
$physicalred: #ff5151;
$mysticalblue: #9e9eff;
$ritualblue: #1255CC;
$resolvepurple: #6760ff;
$evasiongold: #BF9001;

