@import "../../styles/index.scss";

.classes {
  @include page-layout();
}

.classes-content {
  @include page-content();

  table, th, td {
    border: 1px solid $gold;
    font-size: 14px;
  }
  table {
    max-width: 600px;
    width: 100%;
  }

  th, td {
    @include mq(s) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}