@import "../../styles/index.scss";

.ability {
  max-width: 600px;
  margin-bottom: 16px;

  &[data-is-accordion="true"] {
    margin-bottom: 0;
    
    .ability__details {
      border: none;
    }
  }

  &[data-type="Action"] {
    .ability__details {
      border-color: $actionred;
    }

    .ability__title {
      background: $actionred;
    }
    
  }
  &[data-type="Maneuver"] {
    .ability__details {
      border-color: $maneuvergreen;
    }

    .ability__title {
      background: $maneuvergreen;
    }
  }
  &[data-type="Reaction"] {
    .ability__details {
      border-color: $reactionorange;
    }

    .ability__title {
      background: $reactionorange;
    }
  }
  &[data-type="Free"] {
    .ability__details {
      border-color: $freepurple;
    }

    .ability__title {
      background: $freepurple;
    }
  }
  &[data-type="Ritual"] {
    .ability__details {
      border-color: $ritualblue;
    }

    .ability__title {
      background: $ritualblue;
    }
  }
  
  &__title {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    background: $actionred;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name {
      font-size: 18px;
    }
  }

  &__details {
    padding: 8px;
    border: 2px solid $white;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  &__descriptor {
    font-style: italic;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
  }

  &__top {
    padding-top: 5px;
  }

  &__line {
    text-align: left;
    font-size: 14px;
    
    & span[data-type="MGT"] {
      color: $physicalred;
    }
    & span[data-type="RES"] {
      color: $mysticalblue;
    }
    & span[data-type="EVN"] {
      color: $evasiongold;
    }
  }

  &__degrees-of-success {
    margin-left: 5px;
  }

  ul {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0 !important;

    li {
      margin-bottom: 0;
    }
  }
}