@mixin page-layout() {
  justify-items: center;
  padding-bottom: 50px;

  @include mq(m) {
    padding-bottom: 100px;
  }
}

@mixin page-content() {
  padding: 0 16px;
  padding-top: 25px;

  @include mq(s) {
    padding: 0 32px;
    padding-top: 25px;
  }
  @include mq(m) {
    grid-column: 2;
  }

  a {
    color: $textwhite;
    text-decoration: none;
  }

  .header {
    margin-top: 0;
  }

  p, h2, h3, h4 {
    text-align: left;
  }

  p {
    margin-top: 0;
  }

  h2, h3, h4 {
    margin-bottom: .25em;
  }

  ol, ul {
    list-style-position: inside; 
    padding-left: 0; 

    li {
      text-align: left;
      list-style-position: inside;
      margin-bottom: 0.25em;
      &::marker {
        font-size: 1em; 
      }
      span {
        margin-left: -5px;
      }
    }
  }

  ol {
    li {
      span {
        margin-left: 0;
      }
    }
  }

  ul, ol {
    margin-top: -10px;
  }

  h2 {
    background: $softred;
    color: $textwhite;
    padding: 5px 10px;
  }
  h3.header {
    background: $bkgdgolddark;
    padding: 5px 10px;
  }
  h4.header {
    background: $dimgrey;
    padding: 5px 5px;
  }

  .link-button {
    padding: 10px 5px;
    width: 100%;
    border: 2px solid $gold;
    background: $redwood;
    border-radius: 2px;
    margin: 0;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);

    &:hover,
    &:focus,
    &:active {
      background: $dimgrey;
    }

    @include mq('s') {
      max-width: 200px;
    }
  }

  .two-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq('s') {
      flex-direction: row;
      gap: 25px;
    }
  }

  .internal-link {
    text-decoration: underline;
  }
}

@mixin class-page-content {
  @include page-content();
  display: grid;

  .tab-items {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;

    &__tab {
      cursor: pointer;

      &[data-selected="true"] {
        text-decoration: underline;
      }
    }

    &__divider {
      color: $gold;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .secondary-list {
    margin-top: 0;
    margin-left: 10px;

    li {
      @include mq(s) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  table, th, td {
    border: 1px solid $gold;
    font-size: 14px;
  }

  table {
    margin: 0;
  }

  th, td {
    @include mq(s) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}