@mixin page-layout() {
  display: grid;
  justify-items: center;

  @include mq(m) {
    grid-template-columns: auto 900px auto;
  }
}

@mixin page-content() {
  // TODO: Add a background color
  // background: $parchment;
  padding-top: 25px;
  width: 100%;

  @include mq(s) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include mq(m) {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    grid-column: 2;
  }
  @include mq(xl) {
    padding-left: 150px;
    padding-right: 150px;
  }

  p, h2, h3, h4 {
    text-align: left;
  }

  p {
    margin-top: 0;
  }

  h2, h3, h4 {
    margin-bottom: .25em;
  }

  ol, ul {
    list-style-position: inside; 
    padding-left: 0; 

    li {
      text-align: left;
      list-style-position: inside;
      margin-bottom: 0.25em;
      &::marker {
        font-size: 1em; 
      }
      span {
        margin-left: -5px;
      }
    }
  }

  ul {
    margin-top: -10px;
  }
}

@mixin class-page-content {
  @include page-content();
  display: grid;

  .tab-items {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;

    .tab {
      cursor: pointer;
    }

    .divider {
      color: $gold;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .secondary-list {
    margin-top: 0;
    margin-left: 10px;

    li {
      @include mq(s) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  table, th, td {
    border: 1px solid $gold;
    font-size: 14px;
  }

  table {
    margin: 0;
  }

  th, td {
    @include mq(s) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}