@import "../../styles/index.scss";

.accordion {
  max-width: 600px;
  margin-bottom: 16px;

  &[data-is-stacked="true"] {
    margin-bottom: 0;

    .accordion__header {
      border-radius: 0;
    }
    .accordion__content__container {
      border-radius: 0;
    }
  }
  &[data-act-type="Action"] {
    .accordion__header {
      border-color: $actionred;
      background: $actionred;
    }
    .accordion__content__container {
      border-color: $actionred;
    }
  }
  &[data-act-type="Maneuver"] {
    .accordion__header {
      border-color: $maneuvergreen;
      background: $maneuvergreen;
    }
    .accordion__content__container {
      border-color: $maneuvergreen;
    }
  }
  &[data-act-type="Reaction"] {
    .accordion__header {
      border-color: $reactionorange;
      background: $reactionorange;
    }
    .accordion__content__container {
      border-color: $reactionorange;
    }
  }
  &[data-act-type="Free"] {
    .accordion__header {
      border-color: $freepurple;
      background: $freepurple;
    }
    .accordion__content__container {
      border-color: $freepurple;
    }
  }
  &[data-act-type="Ritual"] {
    .accordion__header {
      border-color: $ritualblue;
      background: $ritualblue;
    }
    .accordion__content__container {
      border-color: $ritualblue;
    }
  }
  &[data-type="spell"] {
    margin-bottom: 5px;

    .smaller {
      font-size: 14px;
      padding-left: 3px;
    }

    .accordion__content__container {
      padding: 0;
      border-width: 2px;
    }
  }
  
  &__header {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    border: 1px solid $gold;
    text-align: center;
    background: $lightblack;
    display: flex;
    justify-content: space-between;

    h4 {
      margin: 0 !important;
    }

    &[data-is-expanded="true"] {
      background-color: $dimgrey;
      margin-bottom: 0;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    &__container {
      padding: 10px;
      border: 1px solid $gold;
      border-top: none;
      background: $lightblack;

      ul:last-child, p:last-child {
        margin-bottom: 0;
      }
  
      h3 {
        margin-top: 0;
      }
    }

    
  }
}