@import "../../styles/index.scss";

.banner {
  width: 100%;
  overflow: hidden;

  @include mq(m) {
    grid-column: 2;
  }
  &__image {
    width: 100%;
    height: auto;
    display: block;
    clip-path: inset(0 0 1px 0);
  }
}